{% extends "home/base.html" %}

{% block content %}

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Phone Number</td>
            <td>Age</td>
            <td>Address</td>
            <td>Department</td>
            <td>Email</td>

        </tr>
    </thead>

    <tbody>
        <div style="text-align: right;">
            <p>{{request.user}}</p>
          </div>
            <p style="color: rgb(81, 133, 201); font-family: Arial, sans-serif;">Welcome, admin</p>
        <tr>
            {% for detail in records_list%}
            <td>{{detail.name}}</td>
            <td>{{detail.mobile_num}}</td>
            <td>{{detail.age}}</td>
            <td>{{detail.address}}</td>
            <td>{{detail.department.title}}</td>
            <td>{{detail.email}}</td>
            <td>
                    <a href="{% url 'detailsupdate' detail.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'details_delete' detail.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">
                           <a> <i class="far fa-trash-alt fa-lg text-danger float-right"></i></a>
                        </button>
                    </form>
            </td>
        </tr>
        {% endfor %}

        <div> 
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link float-right">logout</button>
            </form>
        </div>
    </tbody>
</table>

{% endblock content %}